%h2 Links
#todo
  %ol
    %li
      Server-side 
      %b form 
      validation error display 
      %i (client-side validations for sinatra?)
    %li
      URL treatment
- @references.each do |ref|
  .link
    %ol
      %li
        %a{href: ref.link.url}
          = h ref.link.url
      %li
        = h ref.link.title
      %li
        = h ref.link.description