%h2 Links

#todo
  %ol
    %li
      Server-side 
      %b form 
      validation error display 
      %i (client-side validations for sinatra?)
    %li
      URL treatment

- @links.each do |link|
  .link
    %ol
      %li
        %a{href: link.url}
          = h link.url
      %li
        = h link.title
      %li
        = h link.description