- @references.each do |ref|
  .link
    %ol
      %li.title
        = h ref.title
      %li.url
        %a{href: ref.link.url, rel: 'tooltip', title: ref.link.url}
          = h ref.link.url
      %li.desc
        %i 
          = h ref.description