/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

body {
	font: normal 100% 'Share', cursive, Helvetica, Arial, sans-serif;
  line-height: 1.5em;
}

h1, h2 {
	font-family: font-family: 'Share', cursive;
	padding-bottom: 0.25em;
}

h1 {
  font-size: 1.5em;        /* 24px / 16px = 1.5em */
}

h2 {
  font-size: 1.125em;        /* 18px / 16px = 1.125em */
}

ul {
    font-size: 0.875em;      /* 14px / 16px = 0.875em */
}

/* layout */
#todo {
  background-color: #f5f5f5;  
  padding-left: 2.5em;
  margin: 0.5em;
  font-size: 0.725em;
}

#todo li {
  list-style-type: upper-roman;
}

#header {
	padding: 1em;
}

#menu {
	background-color: #000;
	color: #aaa;
	padding-left: 1em;
}

#session-display {
  color: white;
  float: right;
  font-size: 0.75em;      /* 12px / 16px = 0.75em */
  padding-right: 1em;
}

#menu a {
	color: white;
	text-decoration: none;
	padding-right: 0.25em;
	font-size: 0.75em;      /* 12px / 16px = 0.75em */
}

#menu a:hover {
	text-decoration: underline;
}

#content {
	/*padding: 1em 1em 1em 1em;*/
}

#content div {
	padding-bottom: 0.5em;
}

.link {
  padding: 0.25em;
  margin-top: 0.5em;
}

.link ol {
  padding: 0.25em;
  list-style: none;
  border-bottom: 1px dashed #999;
  border-width 1px 0;
  background: #F8F7EF;
}

.link li {
  list-style: none;
}

.link li.title {
  font-weight: bold;
}

.link li.desc {
  font-style: italic;
  font-size: 0.875em;      /* 14px / 16px =  0.875 */
}

/* forms */
form {
  padding-right: 1em;
}

form fieldset {
  margin-bottom: 10px;
}

form legend {
  padding: 0 2px;
  font-weight: bold;
}

form label {
  display: inline-block;
  line-height: 1.8;
  vertical-align: top;
  position: absolute;
  top: 9px;
  left: 10px;
  color: #5E5C5C;
  font-size: 70%;
}

span.error {
  margin-left: -45px;
  display: inline-block;
  color: #ed2222;
  font-size: 70%;
}

form fieldset {
  border: none;
}

form fieldset ol {
  margin: 0;
  padding: 0;
}

form fieldset li {
  list-style: none;
  padding: 5px;
  margin:  0;
  position: relative;
}

form input[type="text"], input[type="password"], textarea {
  border-width: 1px;
  width: 300px;
}

form textarea {
  height: 100px;
}

form fieldset.buttons input[type="submit"] {
  float: right;
}

/* flash */
div.notice, div.alert, div.error, div.success {
  color: white;
  padding: 0.15em 0.15em 0.15em 0.75em;
  font-weight: bold;
}

div.notice, div.alert, div.success {
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter:alpha(opacity=8);

}

div.notice {
  background-color: black;
}

div.alert {
  background-color: #ff4600;
}

div.error {
  background-color: white;
  color: #ff1100;
}

div.success {
  background-color: #468847;
}

/* Tooltips (twitter bootstrap ripoff) */

.tooltip {
  position: absolute;
  z-index: 1020;
  display: block;
  visibility: visible;
  padding: 5px;
  font-size: 11px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.tooltip.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.tooltip.top {
  margin-top: -2px;
}
.tooltip.right {
  margin-left: 2px;
}
.tooltip.bottom {
  margin-top: 2px;
}
.tooltip.left {
  margin-left: -2px;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000000;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #000000;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #000000;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #000000;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
} 

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {
	body {

	}
}

/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) {

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/
}